<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Admetro</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- These plugins only need for the run this page -->
    <link rel="stylesheet" href="/css/default-assets/notification.css">
    <link rel="stylesheet" href="/css/c3.min.css">

    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="admetro-page-wrapper">
        <!-- Sidemenu Area -->
        <div class="admetro-sidemenu-area">
            <!-- Desktop Logo -->
            <div class="admetro-logo">
                <a href="index.html"><img class="desktop-logo" src="/img/core-img/logo.png" alt="Desktop Logo"> <img class="small-logo" src="/img/core-img/small-logo.png" alt="Mobile Logo"></a>
            </div>

            <!-- Side Nav -->
            <div class="admetro-sidenav" id="admetroSideNav">
                <!-- Side Menu Area -->
                <div class="side-menu-area">
                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class="active">
                            <a href="/mapi/dashboard/page"><i class="ti-home"></i><span>Dashboard</span></a>
                        </li>
                        
                        <li class="treeview">
                            <a href="javascript:void(0)"><i class="ti-magnet"></i> <span>学生管理</span> <i class="fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="accordins.html">学生列表</a></li>
                                <li><a href="buttons.html">班级列表</a></li>
                            </ul>
                        </li>
                        {% if uinfo.type == 9 %}
                        <li class="treeview">
                            <a href="javascript:void(0)"><i class="ti-ruler-pencil"></i> <span>教师管理</span> <i class="fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="slider.html">教师列表</a></li>
                                <li><a href="modals.html">学科列表</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li><a href="chat-box.html"><i class="ti-comment"></i> <span>学科列表</span></a></li>
                        <li><a href="chat-box.html"><i class="ti-comment"></i> <span>排课管理</span></a></li>
                        {% if uinfo.type == 9 %}
                        <li class="treeview">
                            <a href="javascript:void(0)"><i class="ti-clipboard"></i> <span>超管服务</span> <i class="fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="basic-form.html">教师收入记录</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </div>

        <!-- Page Content -->
        <div class="admetro-page-content">
            <!-- Top Header Area -->
            <header class="top-header-area d-flex align-items-center justify-content-between">
                <div class="left-side-content-area d-flex align-items-center">
                    <!-- Mobile Logo -->
                    <div class="mobile-logo mr-3 mr-sm-4">
                        <a href="index.html"><img src="img/core-img/small-logo.png" alt="Mobile Logo"></a>
                    </div>

                    <!-- Triggers -->
                    <div class="admetro-triggers mr-1 mr-sm-3">
                        <div class="menu-collasped" id="menuCollasped">
                            <i class="ti-align-right"></i>
                        </div>
                        <div class="mobile-menu-open" id="mobileMenuOpen">
                            <i class="ti-align-right"></i>
                        </div>
                    </div>

                    <!-- Left Side Nav -->
                    <ul class="left-side-navbar d-flex align-items-center">
                        <li class="nav-item dropdown">
                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="right-side-navbar d-flex align-items-center justify-content-end">
                    <!-- Top Bar Nav -->
                    <ul class="d-flex align-items-center">

                        <li class="nav-item dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/img/member-img/women.jpg" alt=""></button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <!-- User Profile Area -->
                                <div class="user-profile-area">
                                    <div class="user-profile-heading">
                                        <!-- Thumb -->
                                        <div class="profile-thumbnail">
                                            <img src="/img/member-img/women.jpg" alt="">
                                        </div>
                                        <!-- Profile Text -->
                                        <div class="profile-text">
                                            <h6>{{ uinfo.name }}</h6>
                                            <span>{{ uinfo.phone }}</span>
                                        </div>
                                    </div>
                                    <a href="javascript:;" class="dropdown-item" id="logout"><i class="ti-unlink text-warning" aria-hidden="true"></i> Sign-out</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>

            <!-- Main Content Area -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <!-- Page Title -->
                            <div class="page-title mb-30">
                                <h5 class="mb-0">Dashboard</h5>
                            </div>
                        </div>
                    </div>

                    {# <div class="col-12 blog-2-content bg-img b-bg-cover g-bg-cyan-gradient-opacity-v1--after p-30 height-min-400 b-flex-middle mb-30" style="background-image: url(/img/blog-img/blog-6.jpg);">
                        <span class="white-opacity-7 font-size-14 text-white"></span>
                        <h4 class="text-white">欢迎使用</h4>
                        <div class="blog-2-btn">
                        </div>
                    </div> #}
                </div>

                <!-- Footer Area -->
                <footer class="footer-area d-flex align-items-center flex-wrap footer-area-end">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p>Zy_Plat &copy; 2022 created by <a href="javascript:;">Maxranje</a></p>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <!-- ======================================
        ********* Page Wrapper Area End ***********
        ======================================= -->
    <script>
    var uuname = "{{ uinfo.name }}";
    </script>
    <!-- Must needed plugins to the run this Template -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/admetro.bundle.js"></script>

    <!-- Active JS -->
    <script src="/js/default-assets/active.js"></script>

    <!-- These plugins only need for the run this page -->
    <script src="/js/default-assets/todolist.js"></script>
    <script src="/js/default-assets/bootstrap-growl.min.js"></script>
    <script src="/js/default-assets/bootstrap-growl-active.js"></script>
    
    <script src="/js/default-assets/sparkline-small.js"></script>
    <script src="/js/default-assets/sparkline.min.js"></script>
    <script src="/js/default-assets/sparkline.js"></script>
    <script src="/js/default-assets/chart-sparkline.js"></script>
    <script src="/js/amcharts.js"></script>
    <script src="/js/serial.js"></script>
    <script src="/js/light.js"></script>
    <script src="/js/default-assets/column-barchart.js"></script>
    <script src="/js/default-assets/line-and-areachart.js"></script>
    
    <script src="/js/d3.min.js"></script>
    <script src="/js/c3.min.js"></script>
    <script src="/js/default-assets/c3-api-chart.js"></script>
    <script src="/js/default-assets/c3-chart-script.js"></script>
    <script src="/js/mapi.js"></script>
</body>

</html>